doctype html
html
  head
    title Todo App
    link(rel='stylesheet', href='/style.css')
    script(src="/app.js")
  body
    header
      h1 Todo App
    nav
      ul#ulnav
        //li: a(href='/homePage') Home
        //li: a(href='/loginPage') Login
        //li: a(href='/getTodos') Todos
        ////if session
        ////  li: a(href='/createTodo') Create Todo
        //li: a(href='/getUsers') Users
        //li: a(href='/createUser') Sign Up
        ////li: a(href='/updateUser') Update User
        ////li: a(href='/deleteUser') Delete User
	
    script.
      createHeader()
    main
      block content
    footer
      p © 2024 Todo App