h1 {
    background: aquamarine;
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

nav {
    background: #cbffff;
    text-align: center;
}

nav ul li {
    display: inline-block;
    padding: 11px;
    te: ;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

footer {
    background: #b4bdba;
    text-align: center;
    padding: 30px;
    padding-top: 20px;
    margin-top: 38px;
}




h2 {
    text-align: center;
	background: azure;
}

form {
    text-align: center;
}

input {
    font-size: 20px;
    margin: 5px;
    padding: 5px;
    border: 2px solid #3e5a5169;
    border-radius: 5px;
}

button {
    font-size: 20px;
	cursor: pointer;
	padding: 5px;
}

main {
    min-height: 75vh;
	text-align: center;
}